#nachosgrandesShow {
  background: url(../img/nachos.jpg);
}
#nachosgrandesHide {
  background: url(../img/nachos_hide.jpg);
}
#quesadillaShow {
  background: url(../img/quesadillas.jpg);
}
#quesadillaHide {
  background: url(../img/quesadillas_hide.jpg);
}
#tortasShow {
  background: url(../img/tortas.jpg);
}
#tortasHide {
  background: url(../img/tortas_hide.jpg);
}
#burritoShow {
  background: url(../img/wet_burrito.jpg);
}
#burritoHide {
  background: url(../img/wet_burrito_hide.jpg);
}
#softtacoShow {
  background: url(../img/orig_soft_tacos.jpg);
}
#softtacoHide {
  background: url(../img/orig_soft_tacos_hide.jpg);
}
#combinationShow {
  background: url(../img/combination.jpg);
}
#combinationHide {
  background: url(../img/combination_hide.jpg);
}
#breakfastBurritoShow {
  background: url(../img/burritos.jpg);
}
#breakfastBurritoHide {
  background: url(../img/burritos_hide.jpg);
}
#breakfastPlatesShow {
  background: url(../img/breakfast.jpg);
}
#breakfastPlatesHide {
  background: url(../img/breakfast_hide.jpg);
}
#alacarteShow {
  background: url(../img/alacarta.jpg);
}
#alacarteHide {
  background: url(../img/alacarta_hide.jpg);
}
#tostadaShow {
  background: url(../img/tostadas.jpg);
}
#tostadaHide {
  background: url(../img/tostadas_hide.jpg);
}
#lightersideShow {
  background: url(../img/lighter_side.jpg);
}
#lightersideHide {
  background: url(../img/lighter_side_hide.jpg);
}
